@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom, #2d831e, #dac372);
  background-repeat: no-repeat;
  font-family: "Lora", serif;
  font-weight: 400;
  color: #fff;
  min-height: 100vh;
}

.container {
  max-width: 1280px;
  padding: 0 12px;
  margin: 0 auto;
}

/* todos header section */
header {
  height: 80px;
  background-color: #5b801f;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  position: sticky;
  top: 0;
}

header .left,
header .right {
  display: flex;
  align-items: center;
  gap: 12px;
}

header .left img {
  width: 40px;
}

header .left h1 {
  font-size: 24px;
  font-weight: 700;
}

header .right .notification-btn {
  font-size: 20px;
  padding: 0 15px;
  position: relative;
}

header .right .notification-btn span {
  position: absolute;
  top: -15px;
  right: -1px;
  height: 25px;
  width: 25px;
  padding: 8px;
  text-align: center;
  border-radius: 50%;
  background-color: rgb(241, 56, 56);
  font-size: 8px;
}

/* todos add to do list form */
form {
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
}

form label {
  font-size: 17px;
  font-weight: 600;
  text-align: left;
  display: block;
}

form input,
form select {
  width: 100%;
  padding: 4px;
  margin: 8px 0;
  border: 1px solid rgb(218, 240, 18);
  border-radius: 5px;
  outline: none;
}

form button {
  background: rgb(11, 93, 247);
  font-size: 16x;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  width: 100px;
  padding: 8px 0;
  border: none;
  border-radius: 5px;
  margin-top: 12px;
  cursor: pointer;
}

form button:hover {
  background: rgba(11, 93, 247, 0.6);
}

/* todos overview */
.overview {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 48px 0;
  padding: 12px 6px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.overview button {
  background: rgb(241, 56, 56);
  color: #fff;
  border: none;
  max-width: 150px;
  padding: 8px 6px;
  border-radius: 5px;
  cursor: pointer;
}

.overview h3,
.overview button {
  flex: 1;
}

.overview button:hover {
  background-color: rgba(241, 56, 56, 0.5);
}

/* todos table section */

.todos-table {
  overflow-x: auto;
}

.todos-table p {
  text-align: center;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th,
td {
  text-align: center;
  padding: 6px;
}

th {
  font-size: 18px;
  background-color: #5b801f;
}

tbody tr {
  color: #000;
  background-color: #fcf6f6;
  border-bottom: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #e2dada;
}

tbody .inactive {
  text-decoration: rgb(252, 87, 87) line-through;
}

tbody button {
  background-color: #fcf6f6;
  border-radius: 4px;
  padding: 2px 6px;
  border: none;
  cursor: pointer;
}

tbody .fa-pen-to-square {
  color: rgb(8, 119, 223);
  padding: 2px;
}

tbody .fa-trash {
  color: rgb(252, 87, 87);
  padding: 2px;
}

fa-trash
/* footer section */
footer {
  width: 100%;
  margin: 48px 0 12px 0;
  color: rgb(57, 107, 13);
  font-weight: 600;
  text-align: center;
}
